<!-- Define your plugin -->
<plugin>
    <name>eZuce Commons Plugin</name>
    <version>1.0</version>
    <author>Alex Mateescu</author>
    <homePage>http://www.ezuce.com</homePage>
    <email>alexmateescu@yahoo.com</email>
    <description>eZuce commons Plugin.</description>
    <class>org.ezuce.common.Commons</class>
    <minSparkVersion>2.0.0</minSparkVersion>
    <java>1.6.0</java>
</plugin>
