<!-- Define your plugin -->
<plugin>
    <name>eZuce IM Plugin</name>
    <version>1.0</version>
    <author>Alex Mateescu</author>
    <homePage>http://www.ezuce.com</homePage>
    <email>alexmateescu@yahoo.com</email>
    <description>eZuce IM (Instant Messaging) Customization Plugin.</description>
    <class>org.ezuce.im.IMPlugin</class>
    <minSparkVersion>2.0.0</minSparkVersion>
    <depends>
		<plugin>
			<name>eZuce Commons Plugin</name>
			<version>1.0</version>
		</plugin>
    </depends>
	<java>1.6.0</java>
</plugin>
